.login-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #FAF2E9;
    border: 1px solid #D66049;
    border-radius: 5px;
  }

  .login-container h1 {
    text-align: center;
  }

  .login-container form {
    display: flex;
    flex-direction: column;
  }

  .login-container form label {
    margin-bottom: 5px;
  }

  .login-container form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #D66049;
    border-radius: 5px;
  }
