.home-container {
    padding: 20px;
  }

  .home-container h1 {
    text-align: center;
    color: #6B352B;
  }

  .filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .filter-container label {
    margin: 5px 0;
    color: #6B352B;
  }

  .filter-container input {
    padding: 10px;
    border: 1px solid #D66049;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .filter-container button {
    background-color: #D66049;
    color: #FAF2E9;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }

  .filter-container button:hover {
    background-color: #91291C;
  }

  .recipes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .recipe-card {
    background-color: #FAF2E9;
    border: 1px solid #D66049;
    border-radius: 5px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
  }

  .recipe-card h2 {
    color: #6B352B;
  }

  .recipe-card p {
    color: #6B352B;
    margin: 10px 0;
  }
